{% extends "base_template.html" %}
{% block title %}Registro de Autores{% endblock %}
{% block content %}
<!-- FIXME: Agregar un DIV para que se vea bonito -->
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}
            {{ form.name(size=100) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.apellidos.label }}
            {{form.apellidos(size=100) }}<br>
            {% for error in form.apellidos.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.fechanac.label }}
            {{ form.fechanac }}<br>
            {% for error in form.fechanac.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.nac.label }}
            {{form.nac(size=40) }}<br>
            {% for error in form.nac.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
        
    </form>
{% endblock %}